body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 5px;
}

.upload-btn {
    display: inline-block;
    background: #ff7a18;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

/* Anteprime immagini */
.preview-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.preview-container img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

/* Box risultati */
.results {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box {
    flex: 1;
    padding: 10px;
    border-radius: 12px;
    color: white;
}

.box span {
    font-size: 22px;
    font-weight: bold;
}

.dog-box {
    background: #2196f3;
}

.cat-box {
    background: #4caf50;
}

.unknown-box {
    background: #9e9e9e;
}

.preview-item {
    position: relative;
    text-align: center;
    font-size: 12px;
}

.preview-item img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.label {
    margin-top: 2px;
    font-weight: bold;
}

.label.dog {
    color: #2196f3;
}

.label.cat {
    color: #4caf50;
}

.label.unknown {
    color: #9e9e9e;
}